@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

@keyframes descIn {
    from {
        transform: scale(0, 0);
    }
    to {
        transform: scale(1, 1);
    }
}
@keyframes descOut {
    from {
       transform: scale(1, 1); 
    }
    to {
        transform: scale(0, 0);
        
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: Nunito Sans, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
a {
    text-decoration: none;
    color: white;
}
i {
    cursor: pointer;
    width: 2rem;
    height: 2rem;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 9vh;
    background-color: #090909;
    color: white;
    padding: 1rem;
}
#intro {
    background-color: #090909;
    width: 100vw;
    height: 91vh;
    overflow: hidden;
}
#desc {
    font-size: 1.2rem;
    max-width: 75%;
}
#about {
    position: absolute;
    top: 9vh;
    left: 0;
    width: 100vw;
    height: 91vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    z-index: 2;
}
#holder {
    position: absolute;
    top: 9vh;
    left: 0;
    width: 100vw;
    height: 91vh;
    opacity: 0.6;
    background-color: #0e0d0d;
    z-index: 1;
}
#projects {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#php {
    background-image: url(../pictures/PHP-Logo-Free-Download-PNG.png);
}
#js {
    background-image: url(../pictures/js.png);
    background-position: center;
}
#ts {
    background-image: url(../pictures/typescript.png);
}
#ng {
    background-image: url(../pictures/ng.png);
    background-position: center;
    background-size: cover;
}
#vue {
    background-image: url(../pictures/vue.png);
    background-position: center;
}
#laravel {
    background-image: url(../pictures/laravel.png);
    background-position: center;
    background-size: cover;
}
.lang {
    width: 6rem;
    height: 4rem;
    border-radius: 2rem;
    background-repeat: no-repeat;
    background-size: contain;
}
.technologies {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
}
h2 {
    padding: 0.3rem;
}
video {
    width: 100vw;
    height: 100vh;
}
#projects {
    width: 100vw;
    height: 100vh; /* 
    background: radial-gradient(#3158e4 , #2E4EBE,  #471AA5);
    background: linear-gradient(to right, rgb(64, 5, 119), rgb(122, 10, 226));
    */
    background: linear-gradient(to right, #034E60, #06CCC4);
    
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#works {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    min-height: 70%;
}
#auto {
    background-image: url(../pictures/nocar.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: white;
}
#auto_desc {
    display: none;
}
#todo {
    background-image: url(../pictures/toDo2.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: white;
}
#todo_desc {
    display: none;
}
#phone {
    background-image: url(../pictures/phonebook.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: white;
}
#phone_desc {
    display: none;
}
.work {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 20%;
    height: 90%;
    border: 0.0625rem solid white;
    border-radius: 2rem;
    overflow: hidden;
    transition: width 1s, height 1s;
    transition-timing-function: linear;
}
.work:hover {
    width: 21%;
    height: 99%;
}
#autohead {
    /*background: linear-gradient(to right, #471AA5, #2E4EBE, #3158e4);
    background: linear-gradient(to right, #009775, #06CCC4,  #034E60);
    */
    background-color: #04aaa4; 
    color: white;
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.actions {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    min-height: 30%;
    background-color: white;
    color: #090909;
    padding: 0.6rem;
    font-size: 2.6rem;
}
.actions button {
    /*background-color: #28b91b; /* 0050c0d9
    background: radial-gradient(#3158e4 , #2E4EBE,  #471AA5);
    background: linear-gradient(to right, #009775, #06CCC4,  #034E60);
    */
    background-color: #04aaa4;
    color: white;
    padding: 0.5rem;
    border: none;
    border-radius: 0.3rem;
    margin: 0.3rem;
    cursor: pointer;
}
.tools {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}
.php {
    background-image: url(../pictures/PHP-Logo-PNG.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 6rem;
    height: 3rem;
}
.js {
    background-image: url(../pictures/js.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 6rem;
    height: 3rem;
}
.ts {
    background-image: url(../pictures/typescript.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 6rem;
    height: 3rem;
}
.description {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 90%;
    /*background-color: #777adf; */
    background-color: #04aaa4;
    border-radius: 3rem;
    padding: 3rem;
    box-shadow: 1rem 12rem 6rem -10rem #090909;
}
.description div {
    max-height: 10%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.description p {
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.visible {
    animation: descIn;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.invisible {
    animation: descOut;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #09272e;
    height: 18vh;
    width: 100vw;
    color: white;
}