@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    font-family: Nunito Sans, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
a {
    text-decoration: none;
    color: white;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 9vh;
    background-color: #090909;
    color: white;
    padding: 1rem;
}
#intro {
    background-color: #090909;
    width: 100vw;
    height: 91vh;
    overflow: hidden;
}
#desc {
    font-size: 1.2rem;
    max-width: 75%;
}
#about {
    position: absolute;
    top: 9vh;
    left: 0;
    width: 100vw;
    height: 91vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    z-index: 2;
}
#holder {
    position: absolute;
    top: 9vh;
    left: 0;
    width: 100vw;
    height: 91vh;
    opacity: 0.6;
    background-color: #0e0d0d;
    z-index: 1;
}
#projects {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#php {
    background-image: url(../pictures/PHP-Logo-Free-Download-PNG.png);
}
#js {
    background-image: url(../pictures/js.png);
    background-position: center;
}
#ts {
    background-image: url(../pictures/typescript.png);
}
#ng {
    background-image: url(../pictures/ng.png);
    background-position: center;
    background-size: cover;
}
#vue {
    background-image: url(../pictures/vue.png);
    background-position: center;
}
#laravel {
    background-image: url(../pictures/laravel.png);
    background-position: center;
    background-size: cover;
}
.lang {
    width: 6rem;
    height: 4rem;
    border-radius: 2rem;
    
    background-repeat: no-repeat;
    background-size: contain;
}
.technologies {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
}
h2 {
    padding: 0.3rem;
}
video {
    width: 100vw;
    height: 100vh;
}
#projects {
    width: 100vw;
    height: 100vh; /*
    background: linear-gradient(to right, rgb(64, 5, 119), rgb(122, 10, 226)) */
    background: linear-gradient(to right, #471AA5, #2E4EBE, #3158e4);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#works {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    min-height: 65%;
}
#auto {
    background-image: url(../pictures/nocar.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: white;
}
.work {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-width: 20%;
    min-height: 90%;
    border: 0.0625rem solid white;
    border-radius: 2rem;
    transition: width 2s, height 2s;
    transition-timing-function: linear;
}
.work:hover {
    width: 21%;
    height: 98%;
}
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #090909;
    height: 18vh;
    width: 100vw;
    color: #5478fa;
}